@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  --primary: #1a5340;
  --dark-primary: #142c45;
  --secondary: #f2ebe1;
  --terciary: #6b728e;
  --white: #ffffff;

  --main-font: "Montserrat", sans-serif;
  --auxiliar-font: "Fraunces", serif;

  --mobile: 412px;
  --desktop: 1440px;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--main-font);
}

body {
  font-weight: 400;
  font-size: 1.4rem;
  font-weight: 500;
  overflow-y: scroll;
  color: var(--terciary);
  scrollbar-width: thin;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-weight: 700;
  font-family: var(--auxiliar-font);
  color: var(--dark-primary);
}

p,
a,
h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.row,
.column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.accent {
  font-weight: 700;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: var(--secondary);
  padding: 2rem;
}

.perfume {
  border-radius: 1rem;
  max-width: 50rem;
  background: var(--white);
}

@media screen and (min-width: 76.9rem) {
  .perfume {
    flex-direction: row;
    gap: 2rem;
    max-width: 50%;
  }
}

.card-img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
}

@media screen and (min-width: 76.9rem) {
  .card-img {
    max-width: 50%;
    border-top-right-radius: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

.card-body {
  padding: 2rem;
  gap: 2rem;
  align-items: flex-start;
}

@media screen and (min-width: 76.9rem) {
  .card-body {
    max-width: 50%;
  }
}

.card-tag {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.card-description {
  line-height: 1.5;
}

.card-prices {
  gap: 2rem;
}

.discount {
  font-family: var(--auxiliar-font);
  color: var(--primary);
  font-size: 3.2rem;
}

.current-price {
  text-decoration: dashed;
}

.card-btn {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  gap: 1rem;
  background: var(--primary);
  cursor: pointer;
}

.card-btn:hover {
  background: var(--dark-primary);
}

.btn {
  color: var(--white);
  text-align: center;
}
